<div class="card text-white bg-primary mb-3">
  <div class="card-header"></div>
  <div class="card-body">

    
      <div class="form-group row">
        <label for="monto" class="col-form-label col-sm-2">Monto</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="amount" [(ngModel)]="amount"> 
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label for="Moneda Origen" class="col-form-label col-sm-2">Moneda Origen</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="originCurrency" [(ngModel)]="originCurrency">
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label for="Moneda Destino" class="col-form-label col-sm-2">Moneda Destino</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="destinationCurrency" [(ngModel)]="destinationCurrency"> 
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="form-group row">
        <label for="Moneda Destino" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="date" [(ngModel)]="date"> 
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>        

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="button" (click)="calculateExchangeRate()" value="Aplicar tipo de cambio a monto" class="btn btn-secondary">
        </div>
      </div>
      <br><br>

      {{exchangerateResponse.amount}}<br>
      {{exchangerateResponse.calculatedAmount}}<br>
      {{exchangerateResponse.originCurrency}}<br>
      {{exchangerateResponse.destinationCurrency}}<br>
      {{exchangerateResponse.date}}<br>

      <div class="form-group row">
        <label for="Valor del tipo de cambio" class="col-form-label col-sm-2">Valor del tipo de cambio</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="destinationCurrency" [(ngModel)]="exchangerateResponse.exchangeRateValue">
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>   

      <div class="my-2 text-left">
        <button class="btn btn-primary" role="button" (click)='save()'>Actualizar el valor de tipo de cambio</button>
      </div>

  </div>
</div>
