<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="monto" class="col-form-label col-sm-2">Tipo de cambio</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="exchangeRateValue" [(ngModel)]="exchangeRateValue"> 
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="Moneda Origen" class="col-form-label col-sm-2">Moneda Origen</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="originCurrency" [(ngModel)]="originCurrency">
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="Moneda Destino" class="col-form-label col-sm-2">Moneda Destino</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="destinationCurrency" [(ngModel)]="destinationCurrency">   <!-- required minlength="4" -->
          <div class="alert alert-danger">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>    

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
